.menu {
	background-color: var(--background-color-invert);
	color: var(--text-color-invert);

	/* Remove the default outline to account for the */
	/* outline being clipped by the cluster element */
	*:focus {
		outline: none;
	}

	/* Remove the global max width value */
	/* So that the Header can span the whole page width */
	& * {
		max-width: none;
	}

	ul {
		list-style: none;
		max-width: none;
		padding: 0;
	}

	li {
		// Remove default padding and add extra 
		padding: 0;
	}

	a {
		display: block;
		/* Apply colour to text and svg elements */
		color: inherit;
		fill: var(--text-color-invert);
		transition: color ease var(--time);
		cursor: pointer;

		&:hover {
			text-decoration: none;
			color: var(--text-color-invert-accent);
			fill: var(--text-color-invert-accent);
		}

		&:focus {
			color: var(--outline);
			fill: var(--outline);
			text-decoration: underline;
		}
	}

	/* Stops icon clipping on safari */
	svg {
		display: block;
		overflow: visible;
		fill: inherit;
		transition: fill ease var(--time);
	}
}