.heading {
		text-align: center;

		& > * {
			margin-left: auto;
			margin-right: auto;
		}

		h1 {
			/* Smaller measure for headlines*/
			max-width: 20ch;
			margin-left: auto;
			margin-right: auto;
		}

		time {
			font-family: var(--sans-serif-font);
			font-size: var(--s-1);
			text-transform: uppercase;
			letter-spacing: 0.05em;
			/* Even out the line height for the date */
			line-height: 1rem;
		}
}