.cluster {
	--cluster-justify-content: flex-start;
	overflow: hidden;

	& > * {
		display: flex;
		flex-wrap: wrap;
		justify-content: var(--cluster-justify-content);
		align-items: center;
		margin: calc(var(--cluster-space) / 2 * -1);
	}

	& > * > * {
		// Fallback 10px right padding for browsers without custom properties
		margin: 0 10px 0 0;
		margin: calc(var(--cluster-space) / 2);
	}

};

.cluster__split-after {
	flex-grow: 1;
}

.cluster ul {
	list-style: none;
	max-width: none;
	padding: 0;
}

.clusetr li {
	// Remove default padding and add extra 
	padding: 0;
}