.switcher > * {
	display: flex;
	flex-wrap: wrap;
	--space-between: var(--switcher-space);
	--modifier: calc(var(--switcher-min-width) - (100% - var(--space-between)));
	margin: calc((var(--space-between) / 2) * -1);
}

.switcher > * > * {
	flex-grow: 1;
	flex-basis: calc(var(--modifier) * 999);
	margin: calc(var(--space-between) / 2);
}

// If there are more than 7 items, stack them automatically
.switcher > * > :nth-last-child(n+8),
.switcher > * > :nth-last-child(n+8) ~ * {
	flex-basis: 100%;
}

.switcher ul {
	list-style: none;
	max-width: none;
	padding: 0;
}

.switcher li {
	// Remove default padding and add extra 
	padding: 0;
}

