// .switcher {
//   display: flex;
//   flex-wrap: wrap;
//   --margin: 0.4rem;
//   --modifier: calc(var(--measure-big) - 100%);
//   margin: calc(var(--space) * -1);
// }

// .switcher > * {
//   flex-grow: 1;
//   flex-basis: calc(var(--modifier) * 999);
//   margin: var(--space);
// }

.switcher > * {
  display: flex;
  flex-wrap: wrap;
  --space-between: var(--space);
  margin: calc((var(--space-between) / 2) * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure-big) - (100% - var(--space-between))) * 999);
  margin: calc(var(--space-between) / 2);
}

// .switcher > * > :nth-last-child(n+5),
// .switcher > * > :nth-last-child(n+5) ~ * {
//   flex-basis: 100%;
// }