.footer {
	/* Make sure the SVG logo is aligned left */
	& > * {
		align-items: flex-start;
	}

	ul {
		list-style: none;
		padding: 0;
		max-width: none;
	}

	a {
		color: inherit;
	}

	a:focus {
		outline: none;
		text-decoration: underline;
		color: var(--outline);
	}
}