/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */

/* headers */
h3 {
	font-size: var(--font-size-big-1);
}
h2 {
	font-size: var(--font-size-big-2);
}
h1 {
	font-size: var(--font-size-big-3);
}

/* links */
a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	text-decoration: underline;
}

*:focus {
	outline: 3px solid var(--outline);
}

figure {
	margin: 0;

	figcaption {
		box-sizing: content-box;
		padding-left: var(--caption-space);
		padding-right: var(--caption-space);
	}
}

button {
	font-family: var(--serif-font-family);
	font-size: var(--font-size-base);
	border: 1px solid var(--text-color-invert);
	padding: var(--s-2);
	background-color: var(--background-color-invert);
	transition: background-color ease var(--time);

	&:hover {
		cursor: pointer;
		background-color: var(--white-1);
	}

	&:focus {
		border: 1px solid var(--outline);
	}
}