/* -------------------------------- Modifiers ------------------------------- */

/* Background colors */
.invert {
	color: var(--text-color-invert);
	background-color: var(--background-color-invert);
}

.invert a {
	color: var(--link-color-invert);
}

/* .invert * {
	color: inherit;
	background-color: inherit;
} */

.box__link {
	outline: none;
	
	&:focus {
		background-color: var(--outline);
	}
}

.box--border {
	color: var(--text-color);
	text-transform: uppercase;
	outline: none;
	border: 3px solid var(--text-color);
	
	&:focus {
		border-color: var(--outline);
	}
}

/* Borders */
.border-above {
	padding-top: var(--s1);
	border-top: 1px solid var(--text-color);
}