/* --------------------------------- Spacing -------------------------------- */
:root {
	--space: var(--s-1);

	--grid-space: var(--s-1);
	--box-space: var(--s-1);
	--stack-space: var(--s-1);
	--cluster-space: var(--s-1);
	--switcher-space: var(--s-1);
	--center-space: var(--s-1);
}