/* -------------------------------------------------------------------------- */
/*                                   Imports                                  */
/* -------------------------------------------------------------------------- */

// @import './fonts.scss';
@import "./custom_properties";
@import "./space";
@import "./measure";
@import "./color_invert";
@import "./body";
@import "./exception_based_styling";
@import "./elements";
@import "./utilities";
@import "./modifiers";

/* ----------------------------- Layout elements ---------------------------- */
@import "./layout/box";
@import "./layout/cluster";
@import "./layout/stack";
@import "./layout/switcher";
@import "./layout/center";
@import "./layout/grid";

/* -------------------------------------------------------------------------- */
/*                  Utility classes for testing in Storybook                  */
/* -------------------------------------------------------------------------- */
.test-container {
	border: 5px solid red;
	fill: lightblue;
}

.test-content {
	background-color: lightblue;
	min-height: 100px;
}

.test-content.horizontal {
	width: 150px;
	display: inline-block;
}
